{
  "singleQuote": true,
  "arrowParens": "avoid",
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/style/src/theme.css",
  "tailwindFunctions": ["cn", "cva"]
}
